<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificationflutter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
				<key>dateExpires</key>
				<string>4/26/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>platform_device_id.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6252A2B4EDB61D8A35C2F156EA1A51032828C87E</string>
						<key>dateExpires</key>
						<string>4/26/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlite3_flutter_libs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DL7G7MWH7K</string>
						<key>name</key>
						<string>Zaur Karimov</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DL7G7MWH7K.com.certification.certificationflutter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DL7G7MWH7K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>babe572e-c3f2-4cb8-abd8-8ed073e1ca6f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.certification.certificationflutter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DL7G7MWH7K</string>
				<key>name</key>
				<string>Zaur Karimov</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
